<div class= home-slider>
	<%= form_for [@parent, @rating] do |f| %>
   <%= f.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= f.text_area :value %>
  </p>
  
  <p><%= f.submit 'Comment' %></p>
<% end %>

</div>	
