<div class="wrapper">		
	<div class="footer-bottom">
		<div class="left">Created by foodaholic.com</div>
		<div class="right">
			<ul id="social-bar">
				<li><a href="https://plus.google.com/109030791898417339180/posts"  title="Add to the circle"><%= image_tag "plus.png"%></a></li>
				<li><a href="http://www.facebook.com/pages/Ansimuz/224538697564461"  title="Become a friend" ><%= image_tag "facebook.png" %></a></li>
				<li><a href="https://www.twitter.com/ansimuz" title="Follow my tweets" ><%= image_tag "twitter.png" %></a></li>
			</ul>
		</div>
	</div>
</div>