<!-- slider -->
<div class=" home-slider">
	<h4>About Page</h4>
    			 
     <article>
     	<div class="post">
     	Filipinos are known to be food lovers but original Filipino cuisines have gone out of the spotlight because Filipinos have been so attached to foreign food. That is why we want to bring back food nationalism. “Confessions of a Foodaholic” is a site that features the Filipino taste buds through pictures /videos/recipes sharing and blogging.
     </div>
    </article >

 </div>
<!-- ENDS slider -->

	
		    
	