<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3" >	
			<%= render 'adminpages'%>
		</div>
		<div class="span9">
				<div></div>
				<%= render 'posts/posts' %>	
		</div>
	</div>
</div>
