	<ul>
		<li class="block" class="cat">
			<h4>CATEGORIES</h4>
			<ul>
				<li><%= link_to "Pastry", showcategory_path(:category => 'Pastry')%>
				<li><%= link_to "Dessert", showcategory_path(:category => 'Dessert')%>
				<li><%= link_to "Dish", showcategory_path(:category => 'Dish')%>
				<li><%= link_to "Appetizer", showcategory_path(:category => 'Appetizer')%>
			</ul>
		</li>
	</ul>
