 <ul>
	<h4>Featured Posts</h4>
		<li><%= link_to "Pastry", showcategory_path(:category => 'Pastry')%></li>
		<li><%= link_to "Dessert", showcategory_path(:category => 'Dessert')%></li>
		<li><%= link_to "Dish", showcategory_path(:category => 'Dish')%></li>
		<li><%= link_to "Appetizer", showcategory_path(:category => 'Appetizer')%></li>	
</ul>
