<div id = "aboutheading">
<h3>CONFESSIONS OF A FOODAHOLIC</h3>
   	<h4>ABOUT PAGE</h4>
</div>   	 
     <div class="aboutpage">
     	<p>Philippine cuisine consists of the food, preparation methods and eating customs found in the Philippines. The style of cooking and the food associated with it have evolved over many centuries. Although it has been undeniably influenced by some foreign palate due to their existence and trade relations in the ancient times, Filipinos were still able to give it a different tang making it unique.  As a part of our culture, it proudly gives us an identity that is definitely exclusive from the others. </p>
	
		<p>Filipinos are known to be food lovers however our Philippine cuisines have gone out of the spotlight because Filipinos have been so attached to foreign taste buds.  That is why we want to bring back food nationalism through Confessions of a Foodaholic. </p>

		<p>Confessions of a Foodaholic is a site that was conceptualized and then created to help promote Philippine cuisine through featured photos, videos, recipes, blogs and testimonials from different people from across the globe. This site encourages participation and user interaction by posting and or commenting on posts. Free flow of ideas will surely be advantageous to generate ways and means in order to achieve our main goal- bringing back food nationalism. </p>

		<p>One must first sign-in to the site in order to fully access all its functionalities and or features. Anyone can register to this site and it is absolutely for free. </p>
     </div>

