#formnew{
	display:none;
}

#sidebar{
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	background: #e2e0d7; 
}

#sidebar ul li h4{
margin-right:11px;
}
#sidebar ul li, ul ul li{
	list-style-type:none;	
}

#sidebar ul li a, ul ul li a{
	list-style-type:none;	
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
}
#sidebar ul li a:hover, ul ul li a:hover{
	color: #E170DB;
	background-color:none;
}
.meta div{
	padding: 10px 10px 10px 30px;
	float: left;
	max-width: 190px;
}

.meta .comments{
	border-left: 1px solid #cecece;	
	border-right: 1px solid #cecece;
	background: url(glyphicons_309_comments.png) no-repeat;
}

.meta .likes{
	border-right: 1px solid #cecece;
	background: url(glyphicons_343_thumbs_up.png) no-repeat;
}

.meta .report{
	background: url(glyphicons_266_flag.png) no-repeat;
}

 .meta .user{
	border-left: 1px solid #cecece;	
	border-right: 1px solid #cecece;
	background: url(glyphicons_003_user.png) no-repeat;
}

 .meta .categories{
	background: url(glyphicons_065_tag.png) no-repeat;
}

 .meta .categories,
 .meta .comments,
 .meta .user{
	background-position: 5px 12px;	
}

.dropdown img{
	height:30px;
	width: 30px;
}
.meta{
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	overflow: hidden;
	display:inline-block;
	width:700px;
}

.span10 img{
	width:40%;
	height:100px;
	float:right;
}

.span10 p{
	width:100%;
}

.post{
	display:block;
}

.textarea{
	width:700px;
}
.title{
	float:left;
}
.recipe{
	display:inline-block;
	width:100px;
}
.category{
	float:right;
}

 fieldset
{
	border: 1px solid #781351;
	width: 720px;
}

.admin_action{
	float:right;
}

.title{
	font-size:20px;
	font-decoration:none;
}

.textarea{
	resize:none;
}